/* .hero {
       background-image: url('https://images.pexels.com/photos/220201/pexels-photo-220201.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
       background-size: cover;
       background-position: center;
       height: 500px;
       display: flex;
       justify-content: center;
       align-items: center;
     }

     
     .hero-text {
       font-family: 'Bruno Ace SC', cursive;
       text-align: center;
       color: white;

       animation-name: slide-in;
       animation-duration: 1s;
       animation-delay: 0.5s;
       animation-fill-mode: forwards;
     }
     @keyframes slide-in {
       from {
         opacity: 0;
         transform: translateX(-50%);
       }
       to {
         opacity: 1;
         transform: translateX(0);
       }
     }
     
     .hero-text h1 {
       font-size: 5em;
       margin-bottom: 20px;
     }

     @import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');
 
     .hero-text p {
       
       font-family: 'Bruno Ace SC', cursive;
       font-size: 2.5em;
       line-height: 1.5;
       max-width: 800px;
       margin: 0 auto;
       padding: 0 20px;
       color: white;
     }
      */