nav {
       background-color: grey;
       overflow: hidden;
     }
     
     ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
       display: flex;
       justify-content: space-between;
     }
     
     li {
       float: left;
     }
     
     a {
       display: inline-block;
       color: black;
       text-align: center;
       padding: 8px 9px;
       text-decoration: none;
     }
     
     a:hover {
       background-color: darkgrey;
       color: black;
     }
     